.nav-cont{
    width: 500px;
    height: 30px;
    margin-top: 0.17em;
    margin-bottom: 0.17em;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.perfil-container img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.perfil-container{
    display: flex;
}
.cont-input{
    height: 28px;
    margin-top: 0.17em;
    margin-bottom: 0.17em;
    margin-left: 5em;
    margin-right: 0;
    border: solid 1px #dbdbdb;
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 5px;
}

.cont-input input{
    border: 0;
    outline: none;
    background: #fafafa;
}
.iconos{
    margin-left: 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.iconos .small-logo{
    width: 25px;
    height: 25px;
    margin-top: 0.17em;
    margin-bottom: 0.17em;
    margin-left: 1em;
    margin-right: 1em;
}

.post{
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    border: 1px, solid #dfdfdf;
    margin-top: 40px;
}
.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}
.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.info .username{
    width: auto;
    font-weight: bold;
    color: black;
    font-size: 14px;
    margin-left: 10px;
}
.info .options{
    height: 10px;
    cursor: pointer;
}
.info .user{
    display: flex;
    align-items: center;
}
.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}
.profile-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fafafa;
}
.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}
.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.post-content{
    width: 100%;
    padding: 20px;
}
.likes{
    font-weight: bold;
}
.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}
.description span{
    font-weight: bold;
    margin-right: 10px;
}
.post-time{
    color: black;
    font-size: 12px;
}
.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-wrapper .icon{
    height: 30px;
}
.comment-box{
    width: 80%;
    height: 100px;
    border: none;
    outline: none;
    font-size: 14px;
}
.comment-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgba(0, 162, 255);
}
.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}
.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

input[type=Search] {
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    font-size: 12px;
    background-color: #f8f8f8;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 0.17em;
    margin-bottom: 0.17em;
    margin-left: 0;
    margin-right: 0;
}


  .form-Busqueda{
    position: static;
    padding: 15px;
    
    margin: auto;
    width: 950px;
    height: 740px;
    background-color: rgb(255, 255, 255);
  }
  .form-Filtro{
    margin-top: 1.17em;
    position: static;
    padding: 15px;
    border-radius: 10px;
    width: 920px;
    height: 30px;
    background-color: rgb(255, 255, 255);
  }
  .form-BusquedasRecientes{
    padding: 15px;
    position: static;
    width: 920px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.842);
  }
  .form-PersonasEncontradas{
    padding: 15px;
    position: static;
    width: 920px;
    height: 150px;
    background-color: rgb(255, 255, 255);
  }
  
  .form-PerfilBusqueda{
    padding: 15px;
    position: static;
    width: 550px;
    height: 120px;
    background-color: rgb(255, 255, 255);
  }
  video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .Filtro{
    margin-left: 0em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.MenuBusqueda{
    margin-left: 0em;
    display: flex;
    cursor: pointer;
    width: 920px;
    height: 30px;
    background-color: #ffffff;
}

.MenuBusqueda1{
    margin-left: 0em;
    display: flex;
    cursor: pointer;
    width: 830px;
    height: 30px;
    background-color: #ffffff;
}

.MenuBusqueda2{
    margin-left: 0em;
    display: flex;
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: #ffffff;
}

.AgregarPersona{
    margin-left: 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.AgregarPersona .small-Icono{
    width: 30px;
    height: 30px;
    margin-top: 0.17em;
    margin-bottom: 0.17em;
    margin-left: 1em;
    margin-right: 1em;
}

input[type=button] {
    border: 1px solid rgb(245, 245, 245);
    background-color: #19970091;
    color: rgb(245, 245, 245);
    background-repeat: no-repeat;
    width: 185px;
    height: 30px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
  }
  p {
    margin-top: 0em;
    margin-left: 0.6em;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
  }
  p2 {
    margin-top: 0em;
    margin-left: 0em;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    color: rgb(44, 131, 202);
  }
  p3 {
    margin-top: 0em;
    margin-left: 0.6em;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
  }
  p4 {
    margin-top: 0em;
    margin-left: 0.6em;
    font-size: 15px;
    font-style: italic;
    cursor: pointer;
  }